  <!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="page-header" id="archives">
                    <h3 class="d-inline">搜索</h3>
                    <input type="text" class="d-inline form-control ml-3 w-50" id="post-search" placeholder="搜索文章..." autocomplete="off">
                </div>
              <div style="width:500px; height: 400px;">
                <ul class="ant-timeline" id="archivelist">

                    {% assign limit = 10 %}
                    {% assign index = 1 %}
                    {% assign total = paginator.total_pages %}
                    {% for post in site.posts limit:limit %}
                          <li class="ant-timeline-item" id="{{index}}" style="display: block">
                              <div class="ant-timeline-item-content">
                                  <span class="text-primary">{{ post.date | date: "%Y-%m-%d" }} </span>
                                  <div class="d-flex align-items-center post-title">
                                      <a class="post-link h5 text-primary" href="{{site.url}}{{site.baseurl}}{{ post.url}}">{{ post.title }}</a>
                                  </div>
                              </div>
                          </li>
                    {% capture index %}{{ index | plus:1 }}{% endcapture %}
                  {% endfor %}

                  {% for post in site.posts offset:10 %}
                  <li class="ant-timeline-item" id="{{index}}" style="display: none">
                    <div class="ant-timeline-item-content">
                      <span class="text-primary">{{ post.date | date: "%Y-%m-%d" }} </span>
                      <div class="d-flex align-items-center post-title">
                        <a class="post-link h5 text-primary" href="{{site.url}}{{site.baseurl}}{{ post.url}}">{{ post.title }}</a>
                      </div>
                    </div>
                  </li>
                  {% capture index %}{{ index | plus:1 }}{% endcapture %}
                  {% endfor %}
                </ul>
              </div>
                <div class="pagination">
                    <ul class="pagination">
                        <li><a href="javascript:void(0);" onclick="fenye(1)">&laquo;</a></li>
                        {% for i in (1..total) %}
                        <li><a href="javascript:void(0);" id="{{i}}" onclick="fenye(id)">{{i}}</a></li>
                        {% endfor %}
                        <li><a href="javascript:void(0);" onclick="fenye(getTotal())">&raquo;</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-4 col-sm-12">
                <div class="page-header" id="archives">
                    <h4>待拓展模块</h4>
                </div>
                <p>待拓展模块</p>
                <div class="page-header" id="archives">
                    <h4>待拓展模块</h4>
                </div>
                <p>待拓展模块</p>
            </div>
    </div>
</div>
        <!-- /#page-content-wrapper -->