<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid" id="post-content">
        <div class="row">
            <div class="col-md-12">
              <div class="progress fixed-top" id="reading-progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="page-header">
                    <h1 class="text-danger">
                        {{ page.title }}
                    </h1>
                    发布时间:<span class="label label-success">{{ page.date | date: "%Y-%m-%d" }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;文章分类:<span class="label label-primary">
                  {% if page.categories != '' %}
                  {{page.categories}}
                  {% else %}
                  {{无}}
                  {% endif %}
                </span>
                </div>
                {{ page.content | markdownify }}

                <div id="content-end"></div>
                <div class="page-header">
                   <span>评论</span>
               </div>
              <div id="disqus_thread"></div>
            </div>


          <script>
            (function() {
              var d = document, s = d.createElement('script');
              s.src = 'https://zfl.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>

          <script id="dsq-count-scr" src="https://zfl.disqus.com/count.js" async></script>

        </div>
    </div>
<!-- /#page-content-wrapper -->